html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  box-shadow: 0px 0px 2px #000;
  border-radius: 5px;
  width: 400px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px 0;
}

input, textarea {
  width: 300px;
}

.message-input {
  display: flex;
  label {
    margin-right: 5px;
  }
}

textarea {
  resize: none;
}